Repository Parsely/wp-parsely, pull requests merged in 2022-04, with the labels that each got.

#764 Recommendations Block: Remove feature flag
  src/Endpoints/class-related-api-proxy.php
  src/blocks/recommendations/README.md
  src/blocks/recommendations/class-recommendations-block.php
  tests/Integration/Blocks/RecommendationsBlockTest.php
  tests/Integration/Endpoints/RelatedProxyEndpointTest.php
Labels: Recommendations Block

#767 Recommedations Block: Disable link clicking in Editor
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.css
  build/blocks/recommendations/edit.js
  build/blocks/recommendations/view.asset.php
  build/blocks/recommendations/view.js
  src/blocks/recommendations/components/parsely-recommendations-fetcher.js
  src/blocks/recommendations/components/parsely-recommendations.js
  src/blocks/recommendations/editor.scss
Labels: [Status] Needs Review, [Status] Do not merge, Recommendations Block

#766 Settings page: Improve Site ID handling
  src/UI/class-settings-page.php
  tests/Unit/SettingsPage/ValidationsTest.php
Labels: [Status] Needs Review

#822 Remove tag setting from the Recommendations Block
  build/blocks/recommendations/block.json
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.js
  src/blocks/recommendations/block.json
  src/blocks/recommendations/class-recommendations-block.php
  src/blocks/recommendations/components/parsely-recommendations-inspector-controls.js
Labels: Recommendations Block

#824 Fix SonarCloud's "errorMessage is already declared in the upper scope"
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.js
  build/blocks/recommendations/view.asset.php
  build/blocks/recommendations/view.js
  src/blocks/recommendations/components/parsely-recommendations.js
Labels: Recommendations Block

#827 Settings page: Remove media months query
  src/UI/class-settings-page.php
Labels: Type: Enhancement, [Status] Ready to Merge, Component: PHP

#826 Settings: Associate logo label to field
  src/UI/class-settings-page.php
Labels: Type: Enhancement, [Status] Ready to Merge, Component: PHP

#821 Recommendations Block: Update documentation
  src/blocks/recommendations/README.md
Labels: Type: Documentation, [Status] Needs Review, Recommendations Block

#825 Recommendations Block: Handle failed HTTP request
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.js
  build/blocks/recommendations/view.asset.php
  build/blocks/recommendations/view.js
  src/blocks/recommendations/components/parsely-recommendations.js
  tests/e2e/specs/blocks/recommendations/block-errors.spec.js
Labels: Type: Enhancement, [Status] Needs Review, Recommendations Block

#808 Adding support for JavaScript onReady hook
  build/loader.asset.php
  build/loader.js
  src/js/lib/loader.js
Labels: Component: JavaScript

#833 Removing uses of deprecated metadata generation
  tests/Integration/Endpoints/RestMetadataTest.php
  tests/Integration/OtherTest.php
  tests/Integration/StructuredData/AuthorArchiveTest.php
  tests/Integration/StructuredData/BlogArchiveTest.php
  tests/Integration/StructuredData/CustomPostTypeArchiveTest.php
  tests/Integration/StructuredData/CustomTaxonomyTermArchiveTest.php
  tests/Integration/StructuredData/HomePageTest.php
  tests/Integration/StructuredData/SinglePageTest.php
  tests/Integration/StructuredData/SinglePostTest.php
  tests/Integration/StructuredData/TermArchiveTest.php
Labels: Component: PHP
