Repository Parsely/wp-parsely, pull requests merged in 2022-05, with the labels that each got.

#844 Remove Recommendations Block's README.md
  README.md
  src/blocks/recommendations/README.md
Labels: Type: Documentation, Recommendations Block

#851 Adding Dependency Review GitHub Action
  .github/workflows/dependency-review.yml
Labels: github_actions

#843 Refactor metadata generation to use builders
  src/Metadata/class-author-archive-builder.php
  src/Metadata/class-category-builder.php
  src/Metadata/class-date-builder.php
  src/Metadata/class-front-page-builder.php
  src/Metadata/class-metadata-builder.php
  src/Metadata/class-page-builder.php
  src/Metadata/class-page-for-posts-builder.php
  src/Metadata/class-paginated-front-page-builder.php
  src/Metadata/class-post-builder.php
  src/Metadata/class-tag-builder.php
  src/class-metadata.php
  tests/Integration/Endpoints/RestMetadataTest.php
  tests/Integration/GetCurrentUrlTest.php
  tests/e2e/specs/front-end-metadata.spec.js
  wp-parsely.php
Labels: Component: PHP

#865 Hard deprecating construct_parsely_metadata
  src/class-parsely.php
Labels: Component: PHP

#877 Fix metadata builder not defined warning
  src/class-metadata.php
Labels: Component: PHP

#879 Fix Metadata test coverage
  tests/Integration/Endpoints/RestMetadataTest.php
  tests/Integration/GetCurrentUrlTest.php
  tests/Integration/OtherTest.php
  tests/Integration/StructuredData/AuthorArchiveTest.php
  tests/Integration/StructuredData/BlogArchiveTest.php
  tests/Integration/StructuredData/CustomPostTypeArchiveTest.php
  tests/Integration/StructuredData/CustomTaxonomyTermArchiveTest.php
  tests/Integration/StructuredData/HomePageTest.php
  tests/Integration/StructuredData/SinglePageTest.php
  tests/Integration/StructuredData/SinglePostTest.php
  tests/Integration/StructuredData/TermArchiveTest.php
  tests/Integration/UI/SiteHealthTest.php
Labels: Component: PHP

#880 Adding tests for Metadata Renderer
  tests/Integration/UI/AdminWarningTest.php
  tests/Integration/UI/MetadataRendererTest.php
Labels: Component: PHP

#895 Adding TypeScript support
  .eslintrc
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Labels: Component: JavaScript

#897 Migrate Recommendations Block to TypeScript
  .eslintrc
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.js
  build/blocks/recommendations/view.asset.php
  build/blocks/recommendations/view.js
  src/blocks/recommendations/actions.js
  src/blocks/recommendations/actions.ts
  src/blocks/recommendations/components/parsely-recommendations-fetcher.tsx
  src/blocks/recommendations/components/parsely-recommendations-inspector-controls.js
  src/blocks/recommendations/components/parsely-recommendations-inspector-controls.tsx
  src/blocks/recommendations/components/parsely-recommendations-list-item.js
  src/blocks/recommendations/components/parsely-recommendations-list-item.tsx
  src/blocks/recommendations/components/parsely-recommendations-list.tsx
  src/blocks/recommendations/components/parsely-recommendations-title.js
  src/blocks/recommendations/components/parsely-recommendations-title.tsx
  src/blocks/recommendations/components/parsely-recommendations.tsx
  src/blocks/recommendations/constants.ts
  src/blocks/recommendations/edit.tsx
  src/blocks/recommendations/models/Recommendation.ts
  src/blocks/recommendations/models/RecommendationsAttributes.ts
  src/blocks/recommendations/view.tsx
  src/img/custom.d.ts
  src/img/parsely-logo.svg
  tsconfig.json
Labels: Component: JavaScript, Changelog: Changed
