Repository Parsely/wp-parsely, pull requests merged in 2023-10, with the labels that each got.

#1898 Content Helper Sidebar: Add period and metric settings
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  build/loader.asset.php
  build/loader.js
  src/content-helper/common/utils/constants.ts
  src/content-helper/common/utils/post.ts
  src/content-helper/common/utils/post.tsx
  src/content-helper/common/verify-credentials.tsx
  src/content-helper/dashboard-widget/components/top-posts-list-item.tsx
  src/content-helper/dashboard-widget/components/top-posts.tsx
  src/content-helper/dashboard-widget/model.ts
  src/content-helper/dashboard-widget/provider.ts
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/performance-details/component.tsx
  src/content-helper/editor-sidebar/performance-details/provider.ts
  src/content-helper/editor-sidebar/related-top-posts/component-list-item.tsx
  src/content-helper/editor-sidebar/related-top-posts/component-list.tsx
  src/content-helper/editor-sidebar/related-top-posts/model.ts
  src/content-helper/editor-sidebar/related-top-posts/provider.ts
  tests/e2e/specs/content-helper/related-top-posts-panel-filters.spec.ts
  tests/js/content-helper/structure.test.tsx
Labels: Changelog: Added, Feature: Content Helper

#1901 Dashboard Widget: Fix periods letter casing
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  src/content-helper/dashboard-widget/components/top-posts.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#1897 Validate API credentials using the Parse.ly API validation endpoint
  phpstan.neon
  src/RemoteAPI/class-remote-api-base.php
  src/RemoteAPI/class-remote-api-cache.php
  src/RemoteAPI/class-validate-api.php
  src/RemoteAPI/interface-remote-api.php
  src/UI/class-settings-page.php
  src/class-validator.php
  tests/Integration/UI/SettingsPageTest.php
  tests/Unit/ValidatorTest.php
  tests/e2e/utils.ts
  views/parsely-settings.php
  wp-parsely.php
Labels: Type: Enhancement, Component: PHP, Changelog: Added, php

#1915 Add 9 missing supported Post Types
  src/class-parsely.php
Labels: Changelog: Fixed

#1916 PCH Related Top Posts: Add filter type drop-down
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  build/loader.asset.php
  build/loader.js
  src/content-helper/common/utils/constants.ts
  src/content-helper/editor-sidebar/related-top-posts/component-list.tsx
  src/content-helper/editor-sidebar/related-top-posts/provider.ts
  tests/e2e/specs/content-helper/errors.spec.ts
  tests/e2e/specs/content-helper/related-top-posts-panel-filters.spec.ts
  tests/e2e/utils.ts
  tests/js/content-helper/structure.test.tsx
Labels: Changelog: Added, Feature: Content Helper

#1924 PCH Performance Details: Fix freeze after error
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/performance-details/component.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#1922 Content Helper: Add more period filters
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  build/loader.asset.php
  build/loader.js
  src/content-helper/common/utils/api.ts
  src/content-helper/common/utils/constants.ts
  src/content-helper/dashboard-widget/components/top-posts.tsx
  src/content-helper/dashboard-widget/provider.ts
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/performance-details/component.tsx
  src/content-helper/editor-sidebar/performance-details/provider.ts
  src/content-helper/editor-sidebar/related-top-posts/provider.ts
  tests/e2e/specs/content-helper/related-top-posts-panel-filters.spec.ts
  tests/js/content-helper/structure.test.tsx
Labels: Changelog: Added

#1925 PCH Dashboard Widget: Fix vanishing filters after error
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/dashboard-widget.js
  src/content-helper/dashboard-widget/components/top-posts.tsx
  src/content-helper/dashboard-widget/dashboard-widget.scss
Labels: Changelog: Fixed, Feature: Content Helper

#1926 PCH: Replace "publication" with "page" in certain error messages
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/related-top-posts/provider.ts
Labels: Feature: Content Helper

#1929 Dashboard Widget: Change number of visible top posts to 5 and add pagination
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/dashboard-widget.js
  src/content-helper/dashboard-widget/components/top-posts.tsx
  src/content-helper/dashboard-widget/dashboard-widget.scss
  src/content-helper/dashboard-widget/provider.ts
Labels: Changelog: Added, Feature: Content Helper

#1933 PCH Related Top Posts: Use screen-reader-text instead of title
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/related-top-posts/component-list-item.tsx
  tests/js/content-helper/structure.test.tsx
Labels: Changelog: Changed, Feature: Content Helper

#1934 Remove jest-unit.config.js
  jest-unit.config.js
Labels: Type: Maintenance

#1935 Make React props read-only
  src/blocks/recommendations/components/parsely-recommendations.tsx
  src/content-helper/common/utils/post.tsx
  src/content-helper/dashboard-widget/components/top-posts-list-item.tsx
  src/content-helper/editor-sidebar/performance-details/component.tsx
  src/content-helper/editor-sidebar/related-top-posts/component-list-item.tsx
  src/content-helper/editor-sidebar/related-top-posts/component-list.tsx
Labels: Type: Maintenance

#1964 class-analytics-posts-api-proxy.php: Remove unused imports
  src/Endpoints/class-analytics-posts-api-proxy.php
Labels: Type: Maintenance

#1963 Improve DocBlocks
  src/Endpoints/class-analytics-post-detail-api-proxy.php
  src/Endpoints/class-analytics-posts-api-proxy.php
  src/Endpoints/class-base-api-proxy.php
  src/Endpoints/class-referrers-post-detail-api-proxy.php
  src/Endpoints/class-related-api-proxy.php
  src/Endpoints/class-rest-metadata.php
  src/Integrations/class-amp.php
  src/Integrations/class-google-web-stories.php
  src/Metadata/class-post-builder.php
  src/RemoteAPI/class-analytics-post-detail-api.php
  src/RemoteAPI/class-analytics-posts-api.php
  src/RemoteAPI/class-referrers-post-detail-api.php
  src/RemoteAPI/class-related-api.php
  src/RemoteAPI/class-remote-api-base.php
  src/RemoteAPI/class-remote-api-cache.php
  src/RemoteAPI/class-validate-api.php
  src/RemoteAPI/class-wordpress-cache.php
  src/RemoteAPI/interface-remote-api.php
  src/UI/class-network-admin-sites-list.php
  src/UI/class-recommended-widget.php
  src/UI/class-row-actions.php
  src/UI/class-settings-page.php
  src/UI/class-site-health.php
  src/class-dashboard-link.php
  src/class-metadata.php
  src/class-parsely.php
  src/class-scripts.php
  src/content-helper/common/class-content-helper-feature.php
  src/content-helper/post-list-stats/class-post-list-stats.php
  tests/Integration/ContentHelperFeatureTest.php
  tests/Integration/Metadata/AuthorArchiveTest.php
  tests/Integration/Metadata/BlogArchiveTest.php
  tests/Integration/Metadata/CustomPostTypeArchiveTest.php
  tests/Integration/Metadata/CustomTaxonomyTermArchiveTest.php
  tests/Integration/Metadata/HomePageTest.php
  tests/Integration/Metadata/SinglePageTest.php
  tests/Integration/Metadata/TermArchiveTest.php
  tests/Integration/TestCase.php
  tests/Integration/UI/SettingsPageTest.php
  tests/Integration/content-helper/ContentHelperPostListStatsTest.php
  tests/trait-tests-reflection.php
Labels: Type: Maintenance
