Repository Parsely/wp-parsely, pull requests merged in 2023-04, with the labels that each got.

#1543 Use a more specific selector to ensure the proper form is selected
  build/admin-settings.asset.php
  build/admin-settings.js
  src/js/admin-settings.ts
Labels: Changelog: Fixed

#1541 Content Helper: Limit unnecessary requests to the Parse.ly API
  build/content-helper.asset.php
  build/content-helper.js
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  src/blocks/content-helper/content-helper-error.tsx
  src/blocks/content-helper/performance-details/component.tsx
  src/blocks/content-helper/related-top-posts/component-list.tsx
  src/content-helper/dashboard-widget/top-posts/component-list.tsx
  tests/e2e/specs/blocks/content-helper/top-bar-icon.spec.ts
  tests/js/content-helper/content-helper-error.test.ts
  tests/js/content-helper/structure.test.tsx
Labels: Type: Maintenance, Changelog: Changed, Feature: Content Helper

#1551 Update Help / Docs Links
  src/Endpoints/class-graphql-metadata.php
  src/Integrations/class-google-web-stories.php
  src/Metadata/class-post-builder.php
  src/UI/class-plugins-actions.php
  src/UI/class-recommended-widget.php
  src/UI/class-settings-page.php
  src/class-parsely.php
  tests/Integration/Metadata/AuthorArchiveTest.php
  tests/Integration/Metadata/BlogArchiveTest.php
  tests/Integration/Metadata/CustomPostTypeArchiveTest.php
  tests/Integration/Metadata/CustomTaxonomyTermArchiveTest.php
  tests/Integration/Metadata/DateArchiveTest.php
  tests/Integration/Metadata/HomePageTest.php
  tests/Integration/Metadata/SinglePageTest.php
  tests/Integration/Metadata/SinglePostTest.php
  tests/Integration/Metadata/TermArchiveTest.php
  tests/Integration/OtherTest.php
  wp-parsely.php
Labels: Changelog: Fixed

#1539 Add filters for disabling Content Helper features
  src/UI/class-admin-columns-parsely-stats.php
  src/blocks/content-helper/class-content-helper.php
  src/content-helper/class-content-helper-feature.php
  src/content-helper/dashboard-widget/class-dashboard-widget.php
  tests/Integration/Blocks/ContentHelperTest.php
  tests/Integration/ContentHelperFeatureTest.php
  tests/Integration/RemoteAPI/RelatedRemoteAPITest.php
  tests/Integration/TestCase.php
  tests/Integration/UI/AdminColumnsParselyStatsTest.php
  tests/Integration/content-helper/ContentHelperDashboardWidgetTest.php
  tests/Integration/content-helper/ContentHelperEditorSidebarTest.php
  wp-parsely.php
Labels: Changelog: Added, Feature: Content Helper
