Repository Parsely/wp-parsely, pull requests merged in 2024-03, with the labels that each got.

#2251 PCH: Set some props params as Readonly
  src/content-helper/common/settings/provider.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
Labels: Feature: Content Helper

#2254 Make the Suggest Brief API work with array responses
  src/RemoteAPI/content-suggestions/class-suggest-brief-api.php
  tests/Integration/RemoteAPI/content-suggestions/SuggestBriefAPITest.php
Labels: Type: Maintenance

#2257 PCH Performance Stats: Add Multi-percentage bar hover state
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/performance-details/component-panel-categories.tsx
  src/content-helper/editor-sidebar/performance-details/performance-details.scss
Labels: Feature: Content Helper

#2256 PCH Title Suggestions: Update Title Suggestions panel UI
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.css
  src/Endpoints/user-meta/class-editor-sidebar-settings-endpoint.php
  src/content-helper/common/components/persona-selector/component.tsx
  src/content-helper/common/components/persona-selector/style.scss
  src/content-helper/common/components/tone-selector/component.tsx
  src/content-helper/common/components/tone-selector/style.scss
  src/content-helper/common/icons/more-arrow.tsx
  src/content-helper/common/settings/types/index.ts
  src/content-helper/common/settings/types/sidebar-settings.d.ts
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-pinned.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-settings.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-title-suggestion.tsx
  src/content-helper/editor-sidebar/title-suggestions/component.tsx
  src/content-helper/editor-sidebar/title-suggestions/title-suggestions.scss
  tests/Integration/Endpoints/EditorSidebarSettingsEndpointTest.php
Labels: Feature: Content Helper

#2262 Update dependencies
  package-lock.json
Labels: Component: Dependencies, Component: JavaScript

#2260 PCH Performance Stats: Fix square percentage bars
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  src/content-helper/editor-sidebar/performance-details/performance-details.scss
Labels: Feature: Content Helper

#2259 PCH Excerpt Generator: Update UI
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.css
  build/content-helper/excerpt-generator.js
  src/content-helper/excerpt-generator/components/excerpt-panel.tsx
  src/content-helper/excerpt-generator/excerpt-generator.scss
Labels: Feature: Content Helper

#2268 PCH Smart Linking: Update UI
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/Endpoints/user-meta/class-editor-sidebar-settings-endpoint.php
  src/content-helper/common/components/input-range/component.tsx
  src/content-helper/common/components/input-range/index.ts
  src/content-helper/common/components/input-range/style.scss
  src/content-helper/common/css/common.scss
  src/content-helper/common/settings/types/sidebar-settings.d.ts
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/smart-linking/component-settings.tsx
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/smart-linking.scss
  src/content-helper/editor-sidebar/smart-linking/store.ts
  tests/Integration/Endpoints/EditorSidebarSettingsEndpointTest.php
Labels: Feature: Content Helper

#2263 PCH Related Posts: Update UI
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  package-lock.json
  src/Endpoints/class-base-api-proxy.php
  src/content-helper/common/icons/views-icon.tsx
  src/content-helper/common/utils/post.tsx
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/related-posts/component-filter-selection-controls.tsx
  src/content-helper/editor-sidebar/related-posts/component-filter-settings.tsx
  src/content-helper/editor-sidebar/related-posts/component-item.tsx
  src/content-helper/editor-sidebar/related-posts/component-list-item.tsx
  src/content-helper/editor-sidebar/related-posts/component-list.tsx
  src/content-helper/editor-sidebar/related-posts/component.tsx
  src/content-helper/editor-sidebar/related-posts/related-posts.scss
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
  tests/Integration/Endpoints/AnalyticsPostsProxyEndpointTest.php
  tests/Integration/Endpoints/StatsPostDetailProxyEndpointTest.php
  tests/e2e/specs/content-helper/errors.spec.ts
  tests/e2e/specs/content-helper/related-posts-panel-filters.spec.ts
  tests/e2e/specs/content-helper/top-bar-icon.spec.ts
  tests/js/content-helper/structure.test.tsx
Labels: Feature: Content Helper

#2273 PCH Title Suggestions: More updates to the UI
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/Endpoints/user-meta/class-editor-sidebar-settings-endpoint.php
  src/content-helper/common/css/common.scss
  src/content-helper/common/icons/ai-icon.tsx
  src/content-helper/common/settings/types/sidebar-settings.d.ts
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-pinned.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-suggestions.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-title-suggestion.tsx
  src/content-helper/editor-sidebar/title-suggestions/component.tsx
  src/content-helper/editor-sidebar/title-suggestions/title-suggestions.scss
  tests/Integration/Endpoints/EditorSidebarSettingsEndpointTest.php
Labels: Feature: Content Helper

#2274 Update Content Suggestions API Beta message
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.js
  src/content-helper/common/content-helper-error.tsx
Labels: Feature: Content Helper

#2278 PCH Redesign: Use Suffix and Prefix wrappers and `size` prop
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/common/components/input-range/component.tsx
  src/content-helper/common/components/input-range/style.scss
  src/content-helper/editor-sidebar/performance-details/component.tsx
  src/content-helper/editor-sidebar/performance-details/performance-details.scss
  src/content-helper/editor-sidebar/related-posts/component.tsx
  src/content-helper/editor-sidebar/related-posts/related-posts.scss
Labels: Feature: Content Helper

#2279 PCH Title Suggestions: Update UI with QA feedback
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/common/css/common.scss
  src/content-helper/common/icons/ai-icon.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-pinned.tsx
  src/content-helper/editor-sidebar/title-suggestions/title-suggestions.scss
Labels: Feature: Content Helper

#2285 PCH Smart Linking: Fix issues applying Smart Links
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/component-settings.tsx
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/utils.ts
Labels: Changelog: Fixed, Feature: Content Helper

#2287 PCH Related Posts: Use HTTPS URLs when the site is using HTTPS
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/Endpoints/class-base-api-proxy.php
  src/Utils/utils.php
  src/content-helper/editor-sidebar/related-posts/component-filter-settings.tsx
  src/content-helper/editor-sidebar/related-posts/component-item.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#2288 PCH Editor Sidebar: Fix some UI glitches
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.css
  build/content-helper/excerpt-generator.js
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/performance-details/component.tsx
  src/content-helper/editor-sidebar/performance-details/performance-details.scss
  src/content-helper/excerpt-generator/components/excerpt-panel.tsx
  src/content-helper/excerpt-generator/excerpt-generator.scss
Labels: Changelog: Fixed, Feature: Content Helper

#2290 PCH Related Posts: Check for links in the content by looking for hyperlinks instead
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/common/utils/functions.ts
  src/content-helper/editor-sidebar/related-posts/component-item.tsx
  src/content-helper/editor-sidebar/smart-linking/utils.ts
Labels: Changelog: Changed

#2300 PCH Excerpt Generator: Fix missing styling
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.css
  src/content-helper/excerpt-generator/excerpt-generator.scss
Labels: Feature: Content Helper

#2302 Fix issue with common.scss not being correctly bundled
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  src/content-helper/common/css/common.scss
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/smart-linking/smart-linking.scss
  src/content-helper/editor-sidebar/title-suggestions/title-suggestions.scss
Labels: Changelog: Fixed, Feature: Content Helper

#2301 PCH Title Suggestions: Update telemetry event names
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/title-suggestions/component-pinned.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-suggestions.tsx
Labels: Feature: Content Helper

#2303 PCH Performance Details: Update telemetry events
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/performance-details/component-panel-overview.tsx
  src/content-helper/editor-sidebar/performance-details/component.tsx
Labels: Feature: Content Helper

#2305 PCH: Resolve cursor jump to start in Paragraph Blocks upon selection
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/smart-linking.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#2296 PCH Editor Sidebar: Fix incorrect AI opt-in message
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.js
  src/RemoteAPI/content-suggestions/class-content-suggestions-base-api.php
  src/content-helper/common/content-helper-error.tsx
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/title-suggestions/component.tsx
  src/content-helper/editor-sidebar/title-suggestions/title-suggestions.scss
Labels: Changelog: Fixed, Feature: Content Helper

#2315 PCH Smart Linking: Fix issues with undo functionality and link offsets
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/utils.ts
Labels: Changelog: Fixed

#2323 PCH: Fix some untranslatable strings
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/performance-details/component-panel.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#2326 Fix isSmall deprecation
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/performance-details/component-panel.tsx
Labels: Changelog: Fixed, Feature: Content Helper

#2328 Dependabot: Change npm PRs limit to 15
  .github/dependabot.yml
Labels: Type: Maintenance

#2325 PCH Smart Linking: Prevent self-linking
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/@types/gutenberg/types.ts
  src/Endpoints/content-suggestions/class-suggest-linked-reference-api-proxy.php
  src/RemoteAPI/content-suggestions/class-suggest-linked-reference-api.php
  src/content-helper/common/utils/functions.ts
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/provider.ts
Labels: Changelog: Fixed, Feature: Content Helper

#2324 PCH Smart Linking: Show "No Block Selected" hint when needed
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/component-settings.tsx
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/smart-linking.scss
  src/content-helper/editor-sidebar/smart-linking/store.ts
Labels: Changelog: Added, Feature: Content Helper

#2348 PCH Smart Linking: Escape API response fields
  src/RemoteAPI/content-suggestions/class-suggest-linked-reference-api.php
Labels: Changelog: Fixed, Feature: Content Helper

#2349 PCH Smart Linking: Update link setting labels for accuracy
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/component-settings.tsx
Labels: Changelog: Changed, Feature: Content Helper
