Repository Parsely/wp-parsely, pull requests merged in 2024-11, with the labels that each got.

#2878 Tests: Add PHP 8.4 and move PCOV to PHP 8.2
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  phpunit-experimental.xml.dist
  src/class-parsely.php
  src/rest-api/content-helper/trait-content-helper-feature.php
  src/services/content-api/class-content-api-service.php
Labels: Type: Maintenance

#2895 Allow Super Admins to use any PCH features unless they are explicitly disabled
  src/class-permissions.php
  tests/Integration/PermissionsTest.php
Labels: Changelog: Changed

#2924 README.md: Update "Tested up to" to 6.7
  README.md
Labels: Type: Maintenance

#2925 README.md: Update Excerpt Suggestions screenshot
  .wordpress-org/screenshot-7.png
  README.md
Labels: Type: Maintenance

#2926 Comments: Rename Excerpt Generator to Excerpt Suggestions
  src/@types/assets/window.d.ts
  src/content-helper/editor-sidebar/excerpt-suggestions/class-excerpt-suggestions.php
  src/rest-api/content-helper/class-endpoint-excerpt-generator.php
Labels: Type: Maintenance

#2928 Update Excerpt Suggestions documentation links
  README.md
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/excerpt-suggestions/component-panel.tsx
Labels: Type: Maintenance

#2923 GitHub Actions: Add Release and Bump Version workflows
  .github/ISSUE_TEMPLATE/release-template-new.md
  .github/workflows/build-plugin.yml
  .github/workflows/bump-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release-plugin.yml
  bin/release.php
  bin/update-version.sh
Labels: Type: Maintenance, github_actions

#2937 Add plugin dashboard page sample
  build/content-helper/dashboard-page-rtl.css
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.css
  build/content-helper/dashboard-page.js
  src/UI/class-dashboard-page.php
  src/content-helper/dashboard-page/dashboard-page.scss
  src/content-helper/dashboard-page/dashboard-page.tsx
  webpack.config.js
  wp-parsely.php
Labels: Feature: Content Helper

#2939 Add Traffic Boost permissions infrastructure
  build/admin-settings.asset.php
  build/admin-settings.js
  src/UI/class-dashboard-page.php
  src/UI/class-settings-page.php
  src/class-parsely.php
  src/class-permissions.php
  src/js/admin-settings.ts
  tests/Integration/PermissionsTest.php
  tests/Integration/UI/SettingsPageTest.php
  wp-parsely.php
Labels: Feature: Content Helper, Feature: Traffic Boost

#2940 Dashboard: Implement React Routing and Page Navigation
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.js
  package-lock.json
  package.json
  src/UI/class-dashboard-page.php
  src/content-helper/dashboard-page/dashboard-page.tsx
  src/content-helper/dashboard-page/pages/dashboard/page-component.tsx
  src/content-helper/dashboard-page/pages/index.tsx
  src/content-helper/dashboard-page/pages/settings/page-component.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/page-component.tsx
Labels: Feature: Content Helper

#2942 Add Traffic Boost settings infrastructure
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/UI/class-dashboard-page.php
  src/content-helper/common/settings/types/index.ts
  src/content-helper/common/settings/types/traffic-boost-settings.d.ts
  src/content-helper/common/utils/permissions.ts
  src/content-helper/dashboard-page/dashboard-page.tsx
  src/content-helper/dashboard-page/pages/dashboard/page-component.tsx
  src/rest-api/settings/class-endpoint-traffic-boost-settings.php
  src/rest-api/settings/class-settings-controller.php
Labels: Feature: PCH, Feature: Traffic Boost

#2941 Dashboard: Add header for the main dashboard page
  build/admin-settings-rtl.css
  build/admin-settings.asset.php
  build/admin-settings.css
  build/content-helper/dashboard-page-rtl.css
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.css
  build/content-helper/dashboard-page.js
  build/content-helper/dashboard-widget-rtl.css
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/editor-sidebar-rtl.css
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  src/UI/class-dashboard-page.php
  src/content-helper/common/css/variables.scss
  src/content-helper/dashboard-page/components/index.ts
  src/content-helper/dashboard-page/components/page-body-component.tsx
  src/content-helper/dashboard-page/components/page-container-component.tsx
  src/content-helper/dashboard-page/components/page-header-component.tsx
  src/content-helper/dashboard-page/dashboard-page.scss
  src/content-helper/dashboard-page/pages/dashboard/components/header-component.tsx
  src/content-helper/dashboard-page/pages/dashboard/dashboard.scss
  src/content-helper/dashboard-page/pages/dashboard/page-component.tsx
  src/content-helper/dashboard-page/pages/index.ts
  src/content-helper/dashboard-page/pages/settings/page-component.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/page-component.tsx
Labels: Feature: PCH, Feature: Dashboard

#2974 Build Plugin Workflow: Add explicit write permission to the build job
  .github/workflows/build-plugin.yml
Labels: Type: Maintenance, github_actions

#2976 Build Plugin Workflow: Add .gitignore to staging if it has been changed
  .github/workflows/build-plugin.yml
Labels: Type: Maintenance, github_actions
