Repository Parsely/wp-parsely, pull requests merged in 2024-02, with the labels that each got.

#2179 PCH Excerpt Generator: Fix wrong initialization of the module
  wp-parsely.php
Labels: Component: PHP, Changelog: Fixed

#2200 Telemetry: Fix bad reporting when adding or removing Parse.ly blocks
  build/telemetry.asset.php
  build/telemetry.js
  package-lock.json
  package.json
  src/js/telemetry/block-change.tsx
Labels: Component: JavaScript, Changelog: Fixed

#2198 Refactor endpoints availability code
  src/Endpoints/class-base-api-proxy.php
  src/Endpoints/class-base-endpoint.php
  src/Endpoints/user-meta/class-base-endpoint-user-meta.php
  src/RemoteAPI/class-analytics-post-detail-api.php
  src/RemoteAPI/class-analytics-posts-api.php
  src/RemoteAPI/class-referrers-post-detail-api.php
  src/RemoteAPI/class-related-api.php
  src/RemoteAPI/class-remote-api-cache.php
  src/RemoteAPI/class-validate-api.php
  src/RemoteAPI/content-suggestions/class-content-suggestions-base-api.php
  src/RemoteAPI/content-suggestions/class-suggest-meta-description-api.php
  src/RemoteAPI/content-suggestions/class-write-title-api.php
  src/RemoteAPI/interface-remote-api.php
  src/content-helper/dashboard-widget/class-dashboard-widget.php
  src/content-helper/post-list-stats/class-post-list-stats.php
  tests/Integration/ContentHelperFeatureTest.php
  tests/Integration/Endpoints/AnalyticsPostsProxyEndpointTest.php
  tests/Integration/Endpoints/DashboardWidgetSettingsEndpointTest.php
  tests/Integration/Endpoints/EditorSidebarSettingsEndpointTest.php
  tests/Integration/Endpoints/ReferrersPostDetailProxyEndpointTest.php
  tests/Integration/Endpoints/RelatedProxyEndpointTest.php
  tests/Integration/Endpoints/StatsPostDetailProxyEndpointTest.php
  tests/Integration/ProxyEndpointTest.php
  tests/Integration/RemoteAPI/AnalyticsPostsRemoteAPITest.php
  tests/Integration/RemoteAPI/RelatedRemoteAPITest.php
  tests/Integration/RemoteAPITest.php
  tests/Integration/content-helper/ContentHelperDashboardWidgetTest.php
  tests/Integration/content-helper/ContentHelperPostListStatsTest.php
Labels: Changelog: Changed

#2193 PCH Settings: Refactor to the client-side Settings API
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/common/hooks/useSaveSettings.ts
  src/content-helper/common/settings/index.ts
  src/content-helper/common/settings/provider.tsx
  src/content-helper/common/settings/store.ts
  src/content-helper/common/settings/types/index.ts
  src/content-helper/common/settings/types/sidebar-settings.d.ts
  src/content-helper/common/settings/types/top-posts-settings.d.ts
  src/content-helper/dashboard-widget/components/top-posts.tsx
  src/content-helper/dashboard-widget/dashboard-widget.tsx
  src/content-helper/dashboard-widget/provider.ts
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/related-top-posts/component-list.tsx
  src/content-helper/editor-sidebar/title-suggestions/component-settings.tsx
  src/content-helper/editor-sidebar/title-suggestions/component.tsx
  tests/js/content-helper/structure.test.tsx
Labels: Component: JavaScript, Changelog: Changed

#2116 PCH: Add Smart Linking feature
  build/admin-settings.asset.php
  build/admin-settings.css
  build/blocks/recommendations/edit.asset.php
  build/blocks/recommendations/edit.js
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  build/content-helper/excerpt-generator.asset.php
  build/content-helper/excerpt-generator.css
  build/content-helper/excerpt-generator.js
  src/@types/gutenberg/types.ts
  src/Endpoints/class-base-api-proxy.php
  src/Endpoints/content-suggestions/class-suggest-links-api-proxy.php
  src/Endpoints/user-meta/class-editor-sidebar-settings-endpoint.php
  src/RemoteAPI/content-suggestions/class-link-suggestion.php
  src/RemoteAPI/content-suggestions/class-suggest-links-api.php
  src/content-helper/common/content-helper-error.tsx
  src/content-helper/common/css/common.scss
  src/content-helper/common/css/variables.scss
  src/content-helper/common/icons/leaf-icon.tsx
  src/content-helper/common/settings/types/sidebar-settings.d.ts
  src/content-helper/dashboard-widget/dashboard-widget.tsx
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/smart-linking/component-block-overlay.tsx
  src/content-helper/editor-sidebar/smart-linking/component-settings.tsx
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/smart-linking.scss
  src/content-helper/editor-sidebar/smart-linking/smart-linking.tsx
  src/content-helper/editor-sidebar/smart-linking/store.ts
  src/content-helper/editor-sidebar/smart-linking/utils.ts
  src/content-helper/editor-sidebar/title-suggestions/component-settings.tsx
  src/content-helper/excerpt-generator/excerpt-generator.scss
  tests/Integration/Endpoints/EditorSidebarSettingsEndpointTest.php
  tests/Integration/RemoteAPI/content-suggestions/SuggestLinksAPITest.php
  wp-parsely.php
Labels: Changelog: Added, Feature: Content Helper

#2220 Include more metadata in content tracked as a Non-Post
  src/Metadata/class-metadata-builder.php
  src/Metadata/class-page-builder.php
  src/Metadata/class-post-builder.php
  tests/Integration/Metadata/NonPostTestCase.php
  tests/Integration/Metadata/SinglePageTest.php
  tests/e2e/specs/front-end-metadata.spec.ts
Labels: Changelog: Added

#2221 PCH Smart Linking: Fix disappearing overlay issue
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/smart-linking/component-block-overlay.tsx
  src/content-helper/editor-sidebar/smart-linking/smart-linking.tsx
Labels: Component: JavaScript

#2237 Re-enable PCH Editor Sidebar pin/unpin button
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  src/content-helper/editor-sidebar/editor-sidebar.scss
Labels: Feature: Content Helper

#2232 PCH Redesign: Add tabs interface to the editor sidebar
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/@types/assets/window.d.ts
  src/@types/gutenberg/types.ts
  src/content-helper/editor-sidebar/class-editor-sidebar.php
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-performance-tab.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
  tests/e2e/specs/content-helper/top-bar-icon.spec.ts
  tests/e2e/utils.ts
Labels: Feature: Content Helper

#2242 PCH Editor Sidebar: Rename Related Top Posts
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/content-helper/common/utils/post.tsx
  src/content-helper/dashboard-widget/dashboard-widget.scss
  src/content-helper/editor-sidebar/editor-sidebar.scss
  src/content-helper/editor-sidebar/related-posts/component-filter-selection-controls.tsx
  src/content-helper/editor-sidebar/related-posts/component-list-item.tsx
  src/content-helper/editor-sidebar/related-posts/component-list.tsx
  src/content-helper/editor-sidebar/related-posts/provider.ts
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
  tests/e2e/specs/content-helper/errors.spec.ts
  tests/e2e/specs/content-helper/related-posts-panel-filters.spec.ts
  tests/e2e/specs/content-helper/top-bar-icon.spec.ts
  tests/e2e/utils.ts
  tests/js/content-helper/structure.test.tsx
Labels: Feature: Content Helper

#2243 PCH Related Posts: Fix "undefined" author message
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/related-posts/component-list.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
  tests/e2e/specs/content-helper/related-posts-panel-filters.spec.ts
  tests/e2e/specs/content-helper/top-bar-icon.spec.ts
  tests/e2e/utils.ts
Labels: Feature: Content Helper

#2245 PCH: Update Sidebar and Tools Tab per design guidelines
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/tabs/sidebar-tools-tab.tsx
Labels: Feature: Content Helper

#2247 OptionsTest.php: Update coverage annotations
  tests/Integration/OptionsTest.php
Labels: Type: Maintenance

#2252 Fix failing E2E test
  tests/e2e/specs/content-helper/top-bar-icon.spec.ts
Labels: Feature: Content Helper

#2249 Update contributors in package.json
  package.json
Labels: Type: Maintenance

#2250 Add option for full metadata in non-posts
  src/Metadata/class-page-builder.php
  src/UI/class-settings-page.php
  src/class-metadata.php
  src/class-parsely.php
  tests/Integration/OptionsTest.php
Labels: Changelog: Added
