Repository Parsely/wp-parsely, pull requests merged in 2025-03, with the labels that each got.

#3149 Traffic Boost: Add backend implementation
  build/content-helper/dashboard-page-rtl.css
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.css
  build/content-helper/dashboard-page.js
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.js
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  composer.json
  package-lock.json
  package.json
  phpstan.neon
  src/Models/class-inbound-smart-link.php
  src/Models/class-smart-link-status.php
  src/Models/class-smart-link.php
  src/UI/class-dashboard-page.php
  src/content-helper/common/base-wordpress-provider.tsx
  src/content-helper/common/content-helper-error.tsx
  src/content-helper/dashboard-page/components/page-container-component.tsx
  src/content-helper/dashboard-page/components/posts-table/component.tsx
  src/content-helper/dashboard-page/dashboard-page.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/link-counter.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-footer.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-header.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-iframe.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/text-selection-tooltip.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/hooks/use-iframe-highlight.ts
  src/content-helper/dashboard-page/pages/traffic-boost/preview/preview-post.php
  src/content-helper/dashboard-page/pages/traffic-boost/preview/preview.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/provider.ts
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/add-new-link-button.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/header.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/links-list.scss
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/links-list.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/single-link.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/post-details.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/tabs/inbound-links-tab.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/tabs/suggestions-tab.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/sidebar.scss
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/sidebar.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/single-post-component.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/store.ts
  src/content-helper/dashboard-page/pages/traffic-boost/traffic-boost.scss
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/review-modal/component-inbound-link.tsx
  src/content-helper/editor-sidebar/smart-linking/utils.ts
  src/rest-api/content-helper/class-content-helper-controller.php
  src/rest-api/content-helper/class-endpoint-smart-linking.php
  src/rest-api/content-helper/class-endpoint-traffic-boost.php
  src/services/class-base-service-endpoint.php
  src/services/suggestions-api/class-suggestions-api-service.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-headline.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-inbound-link-positions.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-inbound-links.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-linked-reference.php
  src/services/suggestions-api/endpoints/class-suggestions-api-base-endpoint.php
  tests/Integration/RestAPI/ContentHelper/ContentHelperControllerTest.php
Labels: Component: PHP, Component: JavaScript, Feature: PCH, Feature: Traffic Boost

#3176 Smart Linking: Add post details to the "Review" modal
  build/admin-settings-rtl.css
  build/admin-settings.asset.php
  build/admin-settings.css
  build/content-helper/dashboard-widget-rtl.css
  build/content-helper/dashboard-widget.asset.php
  build/content-helper/dashboard-widget.css
  build/content-helper/editor-sidebar-rtl.css
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  build/content-helper/editor-sidebar.js
  src/Models/class-smart-link.php
  src/Utils/class-utils.php
  src/content-helper/common/base-provider.tsx
  src/content-helper/common/base-wordpress-provider.tsx
  src/content-helper/common/components/thumbnail/component.tsx
  src/content-helper/common/components/thumbnail/index.ts
  src/content-helper/common/components/thumbnail/style.scss
  src/content-helper/common/css/common.scss
  src/content-helper/common/css/variables.scss
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/review-modal/component-modal.tsx
  src/content-helper/editor-sidebar/smart-linking/review-modal/component-suggestion.tsx
  src/content-helper/editor-sidebar/smart-linking/smart-linking.scss
  src/rest-api/content-helper/class-endpoint-smart-linking.php
  src/rest-api/stats/class-endpoint-posts.php
  src/services/content-api/endpoints/class-endpoint-analytics-posts.php
Labels: Changelog: Added, Feature: PCH

#3178 Fix issue checking queried object with a false queried object
  src/UI/class-admin-bar.php
Labels: Type: Bug, Component: PHP, Changelog: Fixed

#3181 Simplify check in admin_bar_parsely_stats_button()
  src/UI/class-admin-bar.php
Labels: Type: Maintenance, Changelog: Changed

#3177 EndpointSmartLinkingTest.php: Fix incorrect "uses" annotations
  tests/Integration/RestAPI/ContentHelper/EndpointSmartLinkingTest.php
Labels: Type: Maintenance

#3180 Update some DocBlocks/comments
  src/services/content-api/endpoints/class-endpoint-analytics-posts.php
Labels: Type: Maintenance

#3185 Traffic Boost: Disable front-end preview mode
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.js
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-header.tsx
Labels: Component: JavaScript, Feature: Traffic Boost

#3186 Move plugin Settings page under Parse.ly menu
  build/admin-settings-rtl.css
  build/admin-settings.asset.php
  build/admin-settings.css
  src/Telemetry/telemetry-init.php
  src/UI/class-dashboard-page.php
  src/UI/class-recommended-widget.php
  src/UI/class-settings-page.php
  src/UI/class-site-health.php
  src/UI/settings-page.php
  src/class-parsely.php
  src/content-helper/common/class-content-helper-feature.php
  src/css/admin-settings.scss
  tests/Integration/UI/SettingsPageTest.php
  tests/e2e/specs/activation-flow.spec.ts
  tests/e2e/specs/browse-logo-button.spec.ts
  tests/e2e/specs/front-end-metadata.spec.ts
  tests/e2e/specs/plugin-action-link.spec.ts
  tests/e2e/specs/settings-track-post-types-as.spec.ts
  tests/e2e/utils.ts
  wp-parsely.php
Labels: Component: PHP, Feature: wp-admin

#3187 Traffic Boost: Add "Boost Traffic" action to the post list
  src/UI/class-row-actions.php
Labels: Component: PHP, Feature: Traffic Boost

#3182 Traffic Boost: Implement generating suggestions in batches
  .husky/pre-commit
  build/content-helper/dashboard-page-rtl.css
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.css
  build/content-helper/dashboard-page.js
  build/content-helper/editor-sidebar-rtl.css
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  phpstan.neon
  src/Models/class-inbound-smart-link.php
  src/Models/class-smart-link.php
  src/class-parsely.php
  src/content-helper/common/components/loading/component.tsx
  src/content-helper/common/components/loading/index.ts
  src/content-helper/common/components/loading/style.scss
  src/content-helper/common/css/common.scss
  src/content-helper/dashboard-page/dashboard-page.scss
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-iframe.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/preview/preview.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/provider.ts
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/links-list.scss
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/links-list.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/links-list/single-link.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/components/tabs/suggestions-tab.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/sidebar.scss
  src/content-helper/dashboard-page/pages/traffic-boost/single-post-component.tsx
  src/content-helper/dashboard-page/pages/traffic-boost/store.ts
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/rest-api/class-base-validation.php
  src/rest-api/content-helper/class-endpoint-smart-linking.php
  src/rest-api/content-helper/class-endpoint-traffic-boost.php
  src/rest-api/content-helper/validations/class-validate-blending-weight.php
  src/rest-api/content-helper/validations/class-validate-url-exclusion-list.php
  src/services/suggestions-api/class-suggestions-api-service.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-inbound-link-positions.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-inbound-links.php
  src/services/suggestions-api/endpoints/class-endpoint-suggest-linked-reference.php
  wp-parsely.php
Labels: Component: PHP, Component: JavaScript, Feature: Traffic Boost

#3211 Smart Links: Add ITM parameters to planted Smart Links
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/Models/class-inbound-smart-link.php
  src/Models/class-smart-link.php
  src/Utils/class-utils.php
  src/content-helper/common/utils/functions.ts
  src/content-helper/editor-sidebar/smart-linking/component.tsx
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/review-modal/component-modal.tsx
  src/content-helper/editor-sidebar/smart-linking/utils.ts
  src/rest-api/content-helper/class-endpoint-smart-linking.php
  src/rest-api/stats/class-endpoint-posts.php
  tests/Integration/RestAPI/ContentHelper/EndpointSmartLinkingTest.php
Labels: Component: PHP, Component: JavaScript, Feature: PCH, Feature: Traffic Boost

#3214 Traffic Boost: Fix scrolling to link highlight
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.js
  src/content-helper/dashboard-page/pages/traffic-boost/preview/components/preview-iframe.tsx
Labels: Component: JavaScript, Feature: Traffic Boost

#3210 PCH: Add category slug support in search
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/@types/assets/window.d.ts
  src/content-helper/editor-sidebar/class-editor-sidebar.php
  src/content-helper/editor-sidebar/editor-sidebar.tsx
  src/content-helper/editor-sidebar/related-posts/component-filter-settings.tsx
  src/content-helper/editor-sidebar/related-posts/component.tsx
Labels: Changelog: Added, Feature: PCH

#3218 Attempt to fix GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/ISSUE_TEMPLATE/release-template-new.md
  .github/ISSUE_TEMPLATE/release-template.md
Labels: Type: Maintenance

#3219 Make additional adjustments to GitHub issue templates
  .github/ISSUE_TEMPLATE/blank_template.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: Type: Maintenance

#3213 Smart Links: Change data structure to use Status taxonomy
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.js
  src/Models/class-inbound-smart-link.php
  src/Models/class-smart-link.php
  src/content-helper/editor-sidebar/smart-linking/class-smart-linking.php
  src/content-helper/editor-sidebar/smart-linking/provider.ts
  src/content-helper/editor-sidebar/smart-linking/utils.ts
  src/rest-api/content-helper/class-endpoint-smart-linking.php
  src/rest-api/content-helper/class-endpoint-traffic-boost.php
  wp-parsely.php
Labels: Component: PHP, Type: Refactoring, Feature: PCH, Feature: Traffic Boost

#3215 Traffic Boost: Styling tweaks and fixes
  build/content-helper/dashboard-page-rtl.css
  build/content-helper/dashboard-page.asset.php
  build/content-helper/dashboard-page.css
  build/content-helper/editor-sidebar-rtl.css
  build/content-helper/editor-sidebar.asset.php
  build/content-helper/editor-sidebar.css
  src/content-helper/common/components/loading/style.scss
  src/content-helper/dashboard-page/pages/traffic-boost/preview/preview.scss
  src/content-helper/dashboard-page/pages/traffic-boost/sidebar/sidebar.scss
  src/content-helper/dashboard-page/pages/traffic-boost/traffic-boost.scss
Labels: Feature: Traffic Boost
